<h3>Adivina la palabra!!</h3>

<div class="card text-white bg-secondary mb-3" style="max-width: 35rem;">
  <img [src]="imagen[idx]" class="card-img-top" height="200px" >
  <div class="card-body">
    <h5 class="card-title">{{arrCoincidencias | json}}</h5>

  </div>
</div>

  <form>
    <div *ngIf="input">
        <label>
          Ingresa una letra...
        </label>
        <br>
        <input type="text" [(ngModel)]="letra" [ngModelOptions]="{standalone: true}"  (keyup)="revisarPalabra()"/>
          <br><br>
      </div>

      <div *ngIf="juegoTerminado" class="alert alert-danger" role="alert">
        ¡¡¡Perdiste!!! - La palabra era: "{{palabraAdivinar}}"
      </div>
      <div *ngIf="juegoGanado" class="alert alert-info" role="alert">
        ¡¡¡Ganaste!!! - Felicidades, la palabra era: "{{palabraAdivinar}}"
      </div>

    <label>
      Ya ingresaste {{intentos | json}}
    </label>
  </form>

