/* You can add global styles to this file, and also import other style files */
html, body{
    /*display: table;*/
    color: rgb(5, 0, 0) !important; /*letra negra*/
    width:100vw;
    height:100vh;
    background: url(assets/images/fondo.png) no-repeat center; /*inserta la imagen del fondo*/
    
}
.fondoGrape{
     background-color: #199cb1 !important;
     background: url(assets/images/fondo.png) no-repeat center; /*inserta la imagen del fondo*/
     background-size: cover;
    }

.tituloJuego{
    text-align: center;
    margin: 5px 0px;
    color: #28044d;
    font-family: fantasy;
}

.container{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px !important;
    background: rgba(255,255,255,.7);
    /*background-color: #fafafa;*/
    border-radius: 30px;
}
